repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        types_or: [c, c++]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: run-tests
        name: Run unit tests
        entry: make test
        language: system
        pass_filenames: false
        always_run: true
      - id: conventional-commit
        name: Conventional commit message
        entry: "sh -c 'head -1 \"$1\" | grep -qE \"^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\\(.+\\))?!?: .+\"' --"
        language: system
        stages: [commit-msg]
        always_run: true
